{% extends "master.html" %}

{% block title %}でじらくだ{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}"
{% endblock %}

{% block body %}
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
		  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		  </button>
		  <a class="navbar-brand" href="#"></a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<form class="navbar-form navbar-left" action="{{ url_for('submit') }}" method="POST" role="search">
			<div class="input-group" id="search">
				<input type="text" id="search-box" name="search-box" class="form-control"aria-describedby="basic-addon2">
				<span class="input-group-addon" id="basic-addon2"> <span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
			</div>
		  </form>
		  <ul class="nav navbar-nav navbar-right"> 
			<li class="dropdown">
			  <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">ログイン <span class="caret"></span></a>
			  <ul class="dropdown-menu">
				<li><a href="#" data-toggle="modal" data-target="#myModal">ログイン</a></li>
				<li><a href="#">新規登録</a></li>	
			  </ul>
			</li>
			<li class="dropdown">
			  <a href="#" id="login" class="dropdown-toggle fontop" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">表示順<span class="caret"></span></a>
			  <ul class="dropdown-menu">
				<li><a href="#">価格(高い)</a></li>
				<li><a href="#">価格(低い)</a></li>
				<li><a href="#">人気順</a></li>
				<li role="separator" class="divider"></li>
				<li><a href="#" data-toggle="modal" data-target="#add-modal">追加検索</a></li>
			  </ul>
			</li>
		  </ul>
		</div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav> 
	<div class="container">
		<div class="row">	
			{% if mes %}
				<h1>{{ mes  }}</h1>
			{% endif %}
			{% for res in result %}
			<div class="col-md-4">	
				<div class="panel panel-success">
					<div id="{{ res[0] }}" class="panel-heading" data-popover="true" data-html=true >{{ res[1] }}</div>
					<div class="panel-body">{{ res[2] }}</div>
					<div class="panel-footer">
						<span class="glyphicon glyphicon-hand-up" aria-hidden="true">{{ res[3] }}</span>
						<span class="glyphicon glyphicon-share-alt pull-right" aria-hidden="true">Share</span>
					</div>
				</div>
			</div>
			{% endfor %}
		</div><!-- end container -->
	</div> <!-- end content -->

	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title" id="myModalLabel">ログイン</h4>
		  </div>
		  <div class="modal-body">	
			<form>
			 <div class="form-group">
				<label for="username">Name</label>
				<input type="text" class="form-control" id="name" placeholder="Name">
			  </div>
			  <div class="form-group">
				<label for="mail">Email address</label>
				<input type="email" class="form-control" id="mail" placeholder="Email">
			  </div>
			  <div class="form-group">
				<label for="passwd">Password</label>
				<input type="password" class="form-control" id="passwd" placeholder="Password">
			  </div>
			  <div class="checkbox">
				<label>
				  <input type="checkbox"> Check me out
				</label>
			  </div>
			  <button type="submit" class="btn btn-default">Submit</button>
			</form>
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			<button type="button" class="btn btn-primary">Save changes</button>
		  </div>
		</div>
	  </div>
	</div>
{% endblock %}

