{% extends "master.html" %}

{% block title %}でじらくだ-top-{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/top.css') }}">
{% endblock %}

{% block body %}
	<header>
	</header>
		<form action="{{ url_for('submit') }}" method="POST" class="text-center">
		<div class="container">
			<div class="row">
				<div class="col-xs-8  form-group">
					<input type="text" id="search-box" name="search-box" class="form-control" placeholder="Hello content">
				</div>
				<div class-"col-xs-4">
					<button type="submit" class="btn btn-info" style="width:120px"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
				</div>
			</div>
		</div>
	</form>
		<div class="jumbotron">
			<div class="container">
				<div class="col-xs-9">
					<h3>Popular</h3>
				</div>
				<div class="col-xs-3">
					<h3>Resent post</h3>
				</div>
			</div>
		</div>
{% endblock %}
